/* css styles */
#chart {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a.nav-link:hover {
    border-bottom: 2px solid #333;
    /* You can customize the color and thickness */
}

nav a.nav-link.active {
    border-bottom: 2px solid #333;
    /* Style for the active page */
}

